@keyframes openSide {
    0% {
        min-width: 55px;
    }
    100% {
        min-width: 200px;
    }
}
@keyframes closeSide {
    0% {
        min-width: 200px;
    }
    100% {
        min-width: 55px;
    }
}

@keyframes uploading {
    0% {
        transform: translateY(3px);
        opacity: 1;
    }
    50% {
        transform: translateY(3px);
        opacity: 1;
    }
    100% {
        transform: translateY(-8px);
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    70% {
        translate: scale(1);
        box-shadow: 0 0 0 50px rgba(#eed287, 0);
    }
    100% {
        translate: scale(0.9);
        box-shadow: 0 0 0 0 rgba(#967c36, 0);
    }
}
@keyframes testing {
    0% {
        color: #e06538;
    }
    50% {
        color: #333;
    }
    100% {
        color: #e06538;
    }
}
