@import './medias.scss';
@import './variables.scss';
/*
 * This is for global css usage.
 */

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    outline: none;
}

body,
input,
select,
textarea,
button {
    -webkit-font-smoothing: antialiased;
}
html,
#root {
    width: 100%;
    height: 100%;
}
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;

    &:global(.no-scroll) {
        position: fixed;
        overflow-y: scroll;
    }
}

textarea,
input {
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -webkit-appearance: none;
    border-radius: 0;

    &::placeholder {
        color: var(--light-gray);
    }
}

input {
    width: 100%;
    border: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--black);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -webkit-appearance: none;
        margin: 0;
    }

    &:-webkit-autofill {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        box-shadow: 0 0 0 30px #fff inset;
    }

    &[type='number'] {
        /* stylelint-disable-next-line property-no-vendor-prefix */
        -moz-appearance: textfield;
    }
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

@media print {
    @page {
        size: a4 portrait;
        margin: 40px 0;
    }

    html,
    body {
        width: 794px;
        height: 1123px;

        &:global(.no-scroll) {
            position: absolute;

            /* stylelint-disable-next-line declaration-no-important */
            top: 0 !important;
        }

        & > div:first-child {
            display: none;
        }
    }
}

.flex_center {
    display: flex;
    align-items: center;
}

.pointer {
    cursor: pointer;
}
.MuiDataGrid-main {
    color: $black;
}
.action-icon {
    cursor: pointer;
    transition: 0.3s !important;
    color: $primary;
    background-color: $primary_light;
    width: 30px !important;
    height: 30px !important;
    padding: 6px;
    border-radius: 10px;
    &:hover {
        opacity: 0.8;
    }
    &.warn {
        color: $sec_color;
        background-color: $sec_color_light;
        &:hover {
            opacity: 0.8;
        }
    }
}

.MuiDialog-root {
    .select-label {
        font-size: 14px;
        margin-top: 16px;
    }
}

.editDialog {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7.5px;
    .MuiDialogTitle-root {
        padding-bottom: 20px;
        .title-text {
            font-weight: bold;
            color: $black;
        }
    }

    & .MuiPaper-root {
        min-width: 500px;

        & .footer {
            display: flex;
            justify-content: flex-end;
            padding: 8px 16px;
            height: 56px;
        }

        @media screen and ($media-tablet), screen and ($media-phone) {
            min-width: 100%;
        }
    }
}

@for $i from 1 through 6 {
    .ml-#{$i} {
        margin-left: $i * 5px;
    }
    .mr-#{$i} {
        margin-right: $i * 5px;
    }
    .mt-#{$i} {
        margin-top: $i * 5px;
    }
    .mb-#{$i} {
        margin-bottom: $i * 5px;
    }
}

.primary {
    color: $primary;
}
.primary_light {
    color: $primary_light;
}
.secondary {
    color: $sec_color;
}

.third{
    color: $third_color;
}

.chip {
    border-radius: 5px;
    padding: 4px 7px;
    font-size: 12px;
    font-weight: bold;
    &.danger {
        color: $sec_color;
        background-color: $sec_color_light;
    }
    &.success {
        color: $primary;
        background-color: $primary_light;
    }
}

.Mui-disabled {
    cursor: not-allowed !important;
}

.create-btn {
    display: flex;
    align-items: center;
    div {
        margin-left: 8px;
    }
    svg {
        width: 20px;
        height: 20px;
    }
}

.numberInput {
    .MuiInputBase-root {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 10px;
        input {
            text-align: center;
        }
        .minimize {
            background-color: $background !important;
            border-radius: 5px !important;
            width: 30px;
            height: 30px;
            transition: 0.2s;
            svg {
                transform: translateY(-7.5px);
            }
            &:hover {
                background-color: $primary_light !important;
                color: $primary !important;
            }
        }
        .plus {
            background-color: $background !important;
            border-radius: 5px !important;
            width: 30px;
            height: 30px;
            transition: 0.2s;
            &:hover {
                background-color: $primary_light !important;
                color: $primary !important;
            }
        }
    }
}

.confirmText {
    margin-top: 5px;
    color: $sec_color;
}

.MuiDataGrid-virtualScroller {
    &::-webkit-scrollbar {
        height: 7px;
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px !important;
        background: #f0f0f0 !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        background: $gray !important;
    }
}

.SnackbarItem-variantSuccess {
    background-color: $third_color !important;
}

.SnackbarItem-variantError {
    background-color: $sec_color !important;
}
