$primary: #605bff;
$primary_light: #e2e1ff;
$primary_lighter: rgba(214, 216, 247, 0.3);
$primary_dark: #4943ff;
$sec_color: #fd7468;
$sec_color_light: #ffe7dc;
$third_color: #6ac1ff;
$third_color_light: #eaf2f4;
$black: #2a1c19;
$background: #f1f1ff;
$gray: #a2a2a2;
$boxShadow: 0 0 5px #e0e0e0;
