$primary: #3B9974;
$primary_dark: #328061;
$primary_light: #54B891;
$primary_lighter: #d0e6dd;
$black: #515359;
$background: #F0F0F0;
$background_dark: #e3e5eb;
$disabled: #ececec;
$gray: #afafaf;
$gray_light: #c0c0c0;
$gray_text: #8d8f94;
$error: #d32f2f;
$warn: #EE6C52;
$sec_color: #fd7468;
$sec_color_light: #ffe7dc;
$third_color: #6ac1ff;
$third_color_light: #eaf2f4;
$boxShadow: 0 0 5px #e0e0e0;
