$primary: #0d6efd;
$primary_light: #94b6eb;
$sec_color:#ebce94;
$black: #2a1c19;
$background: #f9f9f9;
$gray: #a2a2a2;
$boxShadow: 0 0 5px #e0e0e0;
$warn:#dc4b26;
$warn_dark:#5a1605;
$warn_light:#d58e7c;