@import 'src/styles/variables.scss';

.dropArea {
    .dropzone {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        border-radius: 10px;
        border: 1px dotted #c0c0c0;
        &:hover {
            background: $background;
        }
        .placeholder {
            div {
                margin: 5px 0;
            }
        }
        &.warn {
            border: 1px solid #d32f2f;
        }
        &.disabled {
            cursor: not-allowed;
            background: $gray;
            &:hover {
                background: $gray;
            }
        }
    }
    .acceptedFile {
        display: flex;
        align-items: center;
        margin-top: 5px;
        svg {
            margin-right: 5px;
        }
        .uploading {
            animation: uploading 1.5s infinite;
        }
    }
    .error {
        font-size: 0.75rem;
        margin: 3px 0 0;
        color: #d32f2f;
    }
}
