@import 'src/styles/medias.scss';
@import 'src/styles/variables.scss';

.setting-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 16px;
    .content {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        @media screen and ($media_phone) {
            grid-template-columns: 1fr;
        }
        .setting-items {
            font-size: 14px;
            @media screen and ($media_phone) {
                width: 100%;
            }
            .setting-item {
                width: 100%;
                margin-top: 10px;
                margin-bottom: 22.5px;
                .label {
                    font-weight: 600;
                    margin-bottom: 5px;
                    @media screen and ($media_phone) {
                        white-space: nowrap;
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                }
                .background-img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    padding: 10px;
                    width: 100%;
                    height: 100%;
                    min-height: 200px;
                    margin: 10px 0;
                    background-color: #fff;
                }
                .color-picker {
                    display: flex;
                    align-items: center;
                    .colorInput {
                        cursor: pointer;
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                    }
                    .colorpick-eyedropper-input-trigger {
                        width: 20px;
                        height: 20px;
                    }
                }
                .upload-area {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                }
            }
        }
    }
}
