@import 'src/styles/medias.scss';
@import 'src/styles/variables.scss';

.LoginPage {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-color: $background;
    @media screen and (max-width: 700px) {
        flex-direction: column;
    }
    .login-lang{
        position: absolute;
        right: 15px;
        top: 20px;
        z-index: 100;
        @media screen and (max-width: 700px) {
            right: 10px;
            top: 15px;
            svg{
                color: #fff;
            }
        }
    }
    .radius-area {
        display: none;
        position: absolute;
        height: 130px;
        bottom: -60px;
        left: 0;
        z-index: 1;
        width: 100%;
        border-radius: 0 0 50% 50%;
        background-color: $primary;
        @media screen and (max-width: 700px) {
            display: flex;
        }
    }
    .left {
        z-index: 2;
        position: relative;
        flex: 2;
        background-color: $primary;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo-area {
            display: flex;
            flex-direction: column;
            align-items: center;
            svg {
                z-index: 100;
                width: 160px;
                height: 160px;
                @media screen and (max-width: 700px) {
                    transform: translateY(15px);
                }
            }
        }
        .ball {
            position: absolute;
            background: $primary_light;
            border-radius: 50%;
            z-index: 2;
            &.ball1 {
                top: 30px;
                left: 20px;
                width: 50px;
                height: 50px;
                animation: bounce1 5s infinite alternate;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
            &.ball2 {
                top: 80px;
                left: 70px;
                width: 20px;
                height: 20px;
                animation: bounce1 5s infinite alternate 1s;
                @media screen and (max-width: 700px) {
                    left: 40px;
                    top: 40px;
                    width: 30px;
                    height: 30px;
                }
            }
            &.ball3 {
                top: 40px;
                right: 80px;
                width: 20px;
                height: 20px;
                animation: bounce2 5s infinite alternate;
                @media screen and (max-width: 700px) {
                    top: 35px;
                    right: 40px;
                }
            }
            &.ball4 {
                bottom: 60px;
                left: 80px;
                width: 15px;
                height: 15px;
                animation: bounce3 5s infinite alternate;
                @media screen and (max-width: 700px) {
                    bottom: 0px;
                    left: 70px;
                }
            }
            &.ball5 {
                bottom: 40px;
                right: 70px;
                width: 35px;
                height: 35px;
                animation: bounce4 6s infinite alternate 1s;
                @media screen and (max-width: 700px) {
                    width: 30px;
                    height: 30px;
                    bottom: -10px;
                    right: 40px;
                }
            }
            &.ball6 {
                bottom: 80px;
                right: 100px;
                width: 15px;
                height: 15px;
                animation: bounce5 6s infinite alternate;
                @media screen and (max-width: 700px) {
                    width: 10px;
                    height: 10px;
                    bottom: 25px;
                    right: 75px;
                }
            }
            &.ball7 {
                bottom: 50%;
                right: 30%;
                width: 15px;
                height: 15px;
                animation: bounce5 5s infinite alternate;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
        }
    }
    .right {
        z-index: 2;
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @media screen and (max-width: 700px) {
            flex-direction: column;
            justify-content: flex-start;
        }
        .changeTypeBtn {
            color: $primary;
            font-weight: 600;
            margin-bottom: 10px;
        }
        form {
            width: 70%;
            @media screen and (max-width: 700px) {
                background-color: #fff;
                padding: 0px 20px 40px;
                width: 80%;
                border-radius: 10px;
                box-shadow: 0 2px 6px #bbb;
                margin-top: 10px;
            }
            .title {
                font-weight: 600;
                font-size: 26px;
                display: flex;
                justify-content: space-between;
                margin: 20px 0;
                @media screen and (max-width: 700px) {
                    justify-content: center;
                    font-size: 20px;
                    button {
                        display: none;
                    }
                }
            }

            .input-field {
                width: 100%;
                height: 70px;
                .MuiFormControl-root {
                    margin-top: 0;
                }
                input {
                    font-size: 14px;
                }
                .MuiTextField-root {
                    width: 100%;
                }
                svg {
                    font-size: 20px;
                }
                @media screen and (max-width: 700px) {
                    svg {
                        font-size: 16px;
                    }
                    .MuiFormHelperText-root {
                        text-align: right;
                    }
                }
            }
            .save-account {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                @media screen and (max-width: 700px) {
                    display: none;
                }
                label {
                    margin-right: 0;
                }
                .MuiFormControlLabel-label {
                    font-size: 14px;
                    color: $gray;
                }
            }
            .confirmButton {
                transform: translateY(20px);
                width: 100%;
                padding: 10px 0;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
            .version {
                font-size: 12px;
                display: flex;
                justify-content: center;
                color: $gray;
                margin: 40px 0 10px;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
        }
        .rwd {
            width: 80%;
            display: none;
            flex-direction: column;
            @media screen and (max-width: 700px) {
                display: flex;
            }
            .save-account {
                text-align: right;
                label {
                    .MuiTypography-root {
                        font-size: 14px;
                        margin-top: 1px;
                        color: $gray;
                    }
                    margin: 5px 0 25px;
                }
            }
            .confirmButton {
                padding: 10px 0;
            }
            .version {
                font-size: 12px;
                text-align: center;
                margin: 20px 0 10px;
                color: $gray;
            }
        }
    }
}

@keyframes bounce1 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px) scale(1.2);
    }
}

@keyframes bounce2 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px) scale(1.2);
    }
}

@keyframes bounce3 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px) scale(1.5);
    }
}

@keyframes bounce4 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-40px) scale(0.9);
    }
}

@keyframes bounce5 {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50px) scale(1.3);
    }
}

@media screen and (max-width: 700px) {
    @keyframes bounce1 {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(10px) scale(1.2);
        }
    }

    @keyframes bounce2 {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(30px) scale(1.1);
        }
    }

    @keyframes bounce3 {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px) scale(1.2);
        }
    }
    @keyframes bounce4 {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px) scale(0.9);
        }
    }

    @keyframes bounce5 {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px) scale(1.1);
        }
    }
}
