@import 'src/styles/variables.scss';
@import 'src/styles/medias.scss';
@import 'src/styles/animations.scss';

.sidebar-wrapper {
    height: 100%;
    min-width: 200px;
    background-color: $primary;
    position: relative;
    box-shadow: $boxShadow;
    overflow-y: auto;
    .title {
        cursor: pointer;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {
            display: block;
            margin-right: 10px;
            margin-top: 25px;
            svg{
                width: 120px;
                height: 120px;
            }
        }
        .logo-text {
            display: flex;
            flex-direction: column;
            color: $primary_light;
            div {
                font-family: Georgia, serif;
            }
        }
    }
    .logo {
        display: none;
        svg{
            width: 42px;
            height: 42px;
        }
    }
    .menuSliderContainer {
        margin-top: 90px;
        .listItem {
            color: $primary_lighter;
            margin: 5px 0;
            position: relative;
            .listItemIcon {
                color: $primary_lighter;
            }
            &.active {
                color: #fff;
                background-color: $primary_dark;
                .listItemIcon {
                    color: #fff;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-radius: 10px;
                    width: 5px;
                    height: 100%;
                    background-color: $sec_color;
                }
            }
        }
    }
    @media screen and ($media-tablet), screen and ($media-phone) {
        animation-name: closeSide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow-x: hidden;
        .title,
        .MuiListItemText-primary {
            display: none;
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 23px;
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
        .menuSliderContainer {
            margin-top: 108px;
        }
        .MuiList-root {
            .MuiButtonBase-root {
                margin: 12.5px 0;
                width: 55px;
            }
        }
    }
    &.hidden {
        animation-name: closeSide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        overflow-x: hidden;
        .title,
        .MuiListItemText-primary {
            display: none;
        }
        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 23px;
            img {
                width: 25px;
                height: 25px;
                cursor: pointer;
            }
        }
        .menuSliderContainer {
            margin-top: 108px;
        }
        .MuiList-root {
            .MuiButtonBase-root {
                margin: 12.5px 0;
                width: 55px;
            }
        }
    }
}
